<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--定义日志存放目录前缀-->
    <property name="LOG_HOME" value="./logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/root.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="MNOTE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/mnote.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.mycharx.mnote" level="INFO" additivity="false">
        <appender-ref ref="MNOTE_FILE" />
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>